.App {
  text-align: center;
  margin: auto;
  width: fit-content;
}


.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 900;
  padding: 100px 0;
}
.search-box{
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.add-input{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightslategray;
  width: 100%;
}
.add-button{
  border-radius: 6px;
  padding: 4px 12px;
  border: none;
  background: rgb(101 88 245);
  color: white;
}

.filter{
  display: flex;
  margin: 20px 0;
  gap: 10px
}

.filter-box{
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 50px;
}

.todo-list{
  /*display: flex;*/
  border: 1px solid darkgray;
  border-radius: 6px;
  gap: 6px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

/* Hide the browser's default checkbox */
.todo-list .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid darkgray;
}

/* On mouse-over, add a grey background color */
.todo-list:hover .checkbox ~ .checkmark {
  background-color: #e1e1e1;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.todo-list .checkbox:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.todo-list .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid slategray;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line{
  position: absolute;
  top: 12px;
  width: 85%;
}

.action{
  display: flex;
  gap: 5px
}

.edit-title, .edit-title:focus{
  background-color: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

